.avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: $secondary;
	display: inline-block;
	text-align: center;
	font-size: calc(50px * 0.6);
	font-weight: bold;
}

.avatar-sm {
	@extend .avatar;
	width: 25px;
	height: 25px;
	font-size: calc(25px * 0.6);
}

.avatar-lg {
	@extend .avatar;
	width: 100px;
	height: 100px;
	font-size: calc(100px * 0.6);
}

.avatar-xl {
	@extend .avatar;
	width: 250px;
	height: 250px;
	font-size: calc(250px * 0.6);}
