.menu-wrapper {
	display: flex !important;
	margin-left: -15rem;
	height: 100vh;
	-webkit-transition: margin 0.25s ease-out;
	-moz-transition: margin 0.25s ease-out;
	-o-transition: margin 0.25s ease-out;
	transition: margin 0.25s ease-out;

	&.show {
		margin-left: 0;
	}
}

.menu {
	display: flex;
	flex-direction: column;
	min-width: 15rem;
	background-color: rgba($secondary, 0.25);

	& .header {
		padding: 0.875rem 1.25rem;
		font-size: 1.2rem;
		color: $primary;
		background-color: rgba($secondary, 0.5);
	}

	& .list-group {
		width: 15rem;
	}
}

.menu-item {
	padding: 1rem;
	color: $primary;
	font-weight: 600;

	&.active,
	&:hover {
		color: $secondary;
		background-color: $highlight;
	}
}

.content {
	width: 100%;
}
