.bg-highlight {
	background-color: $highlight !important;
}

.bg-red {
	background-color: $red !important;
}

.bg-green {
	background-color: $green !important;
}

.bg-gray {
	background-color: $gray-500 !important;
}

.text-highlight {
	color: $highlight !important;
}

.text-red {
	color: $red !important;
}

.text-green {
	color: $green !important;
}

.text-gray {
	color: $gray-500 !important;
}
