@import './_variables';
@import 'bootstrap';
@import './utilities';
@import './_typography';
@import './_menu';
@import './_card';
@import './_list';
@import './_mark';
@import './_avatar';
@import './_navbar';
@import './_box';
@import './_progress';
@import url('https://fonts.googleapis.com/css?family=Comfortaa:500,700&display=swap');

body {
	overflow-x: hidden;
	color: $primary;
	font-family: 'Comfortaa', cursive;
	background: #536976; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #536976, #292e49);
	background: -moz-linear-gradient(to right, #536976, #292e49);
	background: linear-gradient(to right, #536976, #292e49);
}

a {
	text-decoration: none !important;
}

.fa {
	color: $primary;
}

.row {
	margin-bottom: 20px;
}
