@import './_variables';
@import 'bootstrap';
@import './utilities';
@import './_typography';
@import './_menu';
@import './_card';
@import './_list';
@import './_mark';
@import './_avatar';

body {
	overflow-x: hidden;
	background-color: $gray-100;
}

a {
	text-decoration: none !important;
}
