@import './_variables';
@import 'bootstrap';
@import './utilities';
@import './_typography';
@import './_menu';
@import './_card';
@import './_list';
@import './_mark';
@import './_avatar';
@import './_navbar';

body {
	overflow-x: hidden;
	color: $primary;
	background: -moz-linear-gradient(150deg, #ffef57 0%, #f6ac91 20%, #3c3c46 100%);
	background: -webkit-linear-gradient(150deg, #ffef57 0%, #f6ac91 20%, #3c3c46 100%);
	background: linear-gradient(150deg, #ffef57 0%, #f6ac91 20%, #3c3c46 100%);
}

a {
	text-decoration: none !important;
}

.fa {
	color: $primary;
}
